.navbar
{
    background-color: #008f11 !important;
    width: auto;
    color: white !important;
}
.nav-cal{
    width: auto;
    color: white !important;
}
.login{
    margin-right: 10px;
}

/* Desktop */
@media only screen and (min-width: 992px) {
    .navbar {
        height: 90px;
    }
}